page-register {

    #signup{
        //background: color($colors, energy);
        //background-color: rgba(0, 0, 0, 0);
            //   background-image: url('../../assets/imgs/milk.jpeg');
           //background-image: url('../../assets/imgs/top-slide1.png');
           background-size: cover; 
                    h1{
                        font-size: 52px;
                        margin-top:50px
                    }
                    .marginTop{
                        margin-top:150px;
                    }
                    .logo{
                        height: 200px;
                    }
                    .error-message {
                        display: block;
                        font-size: 0.9em;
                        color: rgb(255, 1, 1);
                        margin-left: 100px;
                    }
            }
}
