<ion-header>

  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="reset">
 
  <form [formGroup]="resetpwdForm" (submit)="resetPwd()" novalidate>
    <ion-item>
      <ion-icon name='mail' item-left></ion-icon>
      <ion-input #email formControlName="email" type="email" placeholder="Your email address"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.email" >
      <div *ngIf="resetpwdForm.get('email').hasError(validation.type) && resetpwdForm.get('email').touched">
        <div class="error-message">{{validation.message}}</div>
      </div>
    </div>
    <button ion-button block type="submit">
      Reset Password
    </button>
  </form>
</ion-content>